html{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

.input-svg{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 20px;
}

.input-text, .button{
	font-size: 20px;
}

.button{
	padding: 20px 40px;
	margin: 20px;
	border: 1px solid black;
	border-radius: 32px;
	text-align: center;
}

.prompt, .ratio{
	padding-top: 40px;
	padding-bottom: 20px;
}

.ratio-text{
	font-size: 18px;
}

.module{
	min-height: 400px;
}

#totalIntake, #totalOutcome, #labelIntake, #labelOutcome, .labelOutcome-L, .labelOutcome-O {
	font-size: 14px;
}

.tooltip text{
	font-size: 12px;
}

.source{
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	width: 80%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
